.navbar {
  background-color: #111;
  color: #fff;
  padding: 1rem 2rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  height: 40px;
  object-fit: contain;
}

.nav-links a {
  color: #fff;
  margin-left: 1rem;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #00ffff;
}
